@use "../../scss/base/variables" as v;

.page-configuracoes {
    background-color: v.$cor-fundo;
    min-height: 100vh;
    overflow: hidden;
}

.main-configuracoes {
    display: flex;
    flex-direction: column;
    padding: 32px 48px;
    height: calc(100vh - 85px);
    overflow-y: auto;
    color: v.$cor-texto;
    margin-left: 360px;

    .configuracoes-topo {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1700px;
        margin-bottom: 32px;

        h1 {
            font-size: 3rem;
            font-family: Poppins;
            font-weight: 700;
        }
    }
}